@mixin center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin text($size, $l-height: null, $weight: null, $color: null) {
  font-size: $size;
  line-height: $l-height;
  font-weight: $weight;
  color: $color;
}
