// Descriptive color variables

$white: #fff;
$gray: #777;
$turquoise: #58e1c1;
$maya-blue: #51ddfc;
$very-light-gray: #ccc;

$lilac-blush: #927bc1;
$coral: #fd7856;
$froly: #e4757a;
$emerald: #63cc82;

// Functional color variables

$color-prim: $turquoise;
$color-sec: $maya-blue;

$color-text-base: $gray;

$color-border-dark: $turquoise;
$color-border-light: $very-light-gray;

$color-button-default: $white;

$color-link-default: $white;
$color-link-hover: $maya-blue;

// Font stacks

$stack-lato: "Lato", sans-serif;

// Border radius

$br: 5px;

// Media query breakpoints

$brk-point: "(min-width: 768px)";

// Button colors

$button-colors: (
  default: $maya-blue,
  error: $froly,
  info: $lilac-blush,
  success: $emerald,
  warning: $coral,
);

// Grid colors

$grid-colors: (
  #927bc1,
  #fd7856,
  #deb2ee,
  #7ee6fd,
  #88d9a0,
  #4da2bb,
  #ec9fa3,
  #fd9f85,
  #e4757a,
  #63cc82,
  #51ddfc,
  #80e8d1
);

// Flex Basis Media Queries

$flex: (
  8.33%,
  16.67%,
  25%,
  33.33%,
  41.67%,
  50%,
  58.33%,
  66.67%,
  75%,
  83.33%,
  91.67%,
  100%
);
