/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  color: $white;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: $br;
  @each $key, $color in $button-colors {
    &.#{$key} {
      background-color: $color;
      &:hover {
        background-color: lighten($color, 10%);
        cursor: pointer;
      }
    }
  }
  @media #{$brk-point} {
    padding: 10px 30px;
  }
}
