/* ============================================= */
/*              Media Queries                    */
/* ============================================= */
@media (min-width: 768px) {
  .centered {
    @include center;
  }

  [class^="col"] + [class^="col"] {
    margin-left: 10px;
  }

  .btn + .btn {
    margin-left: 10px;
  }

  .logo {
    margin-left: initial;
    margin-right: initial;
  }
}
